@use '@material/theme/theme-color';

$primary: #6200ee !default; // baseline purple, 500 tone
$on-primary: if(theme-color.contrast-tone($primary) == 'dark', #000, #fff) !default;

$secondary: #018786 !default;
$on-secondary: if(theme-color.contrast-tone($secondary) == 'dark', #000, #fff) !default;
$background: #fff !default; // White

$surface: #fff !default;
$on-surface: if(theme-color.contrast-tone($surface) == 'dark', #000, #fff) !default;

$error: #b00020 !default;
$on-error: if(theme-color.contrast-tone($error) == 'dark', #000, #fff) !default;
